html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset above */

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px 10px 0 10px;
}

.first-half {
  height: 50vh;
  display: flex;
}

nav {
  width: 10vw;
  height: 100%;
}

nav > ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav > ul li {
  padding-left: 12px;
}

nav > ul a {
  text-decoration: none;
  color: rgba(167, 160, 160, 0.87);
  font-size: 1.2em;
}

nav > ul img {
  width: 50px;
  height: 50px;
}

#join-techcrunch {
  color: orange;
  padding-bottom: 5px;
}

main {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main > h1 {
  color: black;
  font-size: 3em;
  font-weight: bold;
  width: 80%;
  padding-bottom: 10px;
}

main > span {
  font-size: 0.8em;
  color: rgb(177, 172, 172);
}

main > .image-container {
  display: flex;
  width: 900px;
  height: 350px;
  margin-top: 10px;
  overflow: hidden;
}

main > .image-container img {
  width: 100%;
  height: 100%;
}

.articles-section {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.articles-section article {
  display: flex;
  flex-direction: column;
}

.articles-section h2 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  width: 40%;
}

.articles-section span {
  color: rgb(32, 31, 31);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(177, 172, 172);
}

.articles-section .last-article span:last-of-type {
  border: none;
}

.articles-section img {
  width: 40px;
  height: 20px;
}

/* first half styling ends above*/

.h3-container {
  height: 5vh;
  padding: 30px 0;
  margin-left: 11.8em;
  display: flex;
  justify-content: flex-start;
}

.h3-container h3 {
  font-weight: bold;
  font-weight: 1.3em;
}

/*h3 separate styling end above */

.second-half {
  height: 45vh;
  display: flex;
}

.empty-space {
  width: 10%;
  height: 100%;
}

.news-content {
  width: 90%;
  display: flex;
}

.first-column,
.second-column,
.third-column {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3333%;
  justify-content: space-between;
}

.first-column .news-headers {
  display: flex;
  flex-direction: column;
}

.first-column .news-headers h2 {
  font-size: 1.5em;
  font-weight: bold;
  width: 50%;
}

.first-column .news-headers span:first-of-type {
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgb(32, 31, 31);
  font-size: 1.1em;
}

.first-column .news-headers span:last-of-type {
  color: rgb(177, 172, 172);
}

.first-column img {
  width: 30px;
  height: 20px;
}

/* first column styling ends here*/

.second-column p {
  color: rgb(177, 172, 172);
  font-size: 1.2em;
  width: 70%;
}

/* second column styling ends here */

.news-images {
  width: 500px;
  height: 200px;
  overflow: hidden;
}
.news-images img {
  width: 100%;
  height: 100%;
}

.padding-images {
  padding-bottom: 20px;
}

/* third column styling ends here */

/* media */
@media (max-width: 1897px) {
  main > .image-container {
    display: flex;
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin-top: 10px;
  }
}

@media (max-width: 1787px) {
  .news-content {
    height: 80%;
  }
}

@media (max-width: 1562px) {
  .news-headers {
    font-size: 0.9em;
  }
}

@media (max-width: 1441px) {
  .articles-section h2 {
    font-size: 1em;
  }
}

@media (max-width: 1234px) {
  .first-half {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
  }

  nav {
    flex-basis: 20%;
    height: 50vh;
    flex: 1;
  }

  main {
    flex-basis: 80%;
    height: 50vh;
  }

  .articles-section {
    display: none;
  }

  .h3-container {
    display: none;
  }
  .third-column {
    display: none;
  }

  .second-half {
    padding-top: 20px;
    height: 50vh;
    display: flex;
  }

  .empty-space {
    width: 20vw;
  }

  .news-headers {
    width: 40vw;
  }

  .news-paragraphs {
    width: 40vw;
  }

  /*.first-column .articles-section {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-left: 10px;
  }

  .articles-section article {
    width: 50%;
  } */
}
